{% extends "uxbase.html" %}

{% block title %}Update Card{% endblock %}
{% block head %}
{{ super() }}



<script>
var record_kind = parseInt("{{record_kind}}");
var referer = "{{referer}}";
async function backToProfile() {

window.location.href="/safebox/access" ;

}

async function goBack() {
    window.history.back();
}

async function privateData() {

window.location.href="/safebox/privatedata";
}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
//alert(`${parsedResult.status} ${parsedResult.detail}`);
alert("Done!");

 

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan";

}


async function shareCard() {

  alert("Coming!");
  
}

async function updateCard() {
    
    var data;
   
    var input_card_title = document.getElementById("input_card_title");
    var input_card_content = document.getElementById("input_card_content");

   
    user_confirm = confirm(`Are you sure you want to proceed with updating ${input_card_title.value}?`) ;
    if (user_confirm == false) {return;}
    

    const submit_data = {"title": input_card_title.value,
                          "content": input_card_content.value,
                          "kind": record_kind,
                          "final_kind":record_kind };

    

   await fetch('/safebox/updatecard', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));

    
    window.location.href=referer;
      }

async function deleteCard() {
  var input_card_title = document.getElementById("input_card_title");

  user_confirm = confirm(`Are you sure you want to proceed with deleting ${input_card_title.value}?`) ;

  const submit_data = {"title": input_card_title.value, "kind": record_kind};

    

   await fetch('/safebox/deletecard', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));

    window.location.href=referer ;

}    

var global_nauth = "";
  
var global_client_nauth = "{{nauth}}";  
var global_client_transmittal_kind = null;

async function getQRStatus(return_result) {

  var qr_img_func = document.getElementById("img_qr_display");

  parsedResult = JSON.parse(JSON.stringify(return_result));

  global_nauth = parsedResult.detail;

  qr_img_func.src = "/safebox/qr/"+ global_nauth;




}

async function createQRCode() {
    
    var data;
    var qr_img_func = document.getElementById("img_qr_display");
  
    qr_img_func.src="/img/circle-256.gif";
     await fetch('/safebox/nauth?scope=vpresent:{{label_hash}}', {
          method: "GET",
          headers: {"Content-Type": "application/json"}        
                
         })
      .then((response) => response.json())
      .then((data) => getQRStatus(data));
  
    const ws = new WebSocket(`wss://{{request.url.hostname}}/credentials/presentation/${global_nauth}`);
  
    ws.onopen = () => console.log("WebSocket connected");
    ws.onmessage = (event) => {
    console.log("Message received:", event.data);
    const response = JSON.parse(event.data);  
    global_client_nauth = response.nauth;
    client_name = response.name;
    global_client_transmittal_kind = response.transmittal_kind;
    // client_name = response.name;
    if (global_client_nauth) {
      // alert(`Client is authenticated! Ready to transmit files.`); 
      qr_img_func.src="/img/check.png";
    } else {
      // alert(`Authentication has timed out! Please regenerate QR code`);  
      qr_img_func.src="/img/safebox.png";
    }
    ws.close()
    };
    ws.onclose = () => console.log("WebSocket closed");
 
  
  }



</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>Present Credential</h1>
    Click on logo to generate QR Code
    <br><br>
    <img id="img_qr_display" src="/img/safebox.png" onclick="createQRCode()">
    <br><br>
    Credential Info
    <br><br><input type="text" id="input_card_title"  placeholder= "enter card title" value="{{card}}" style="width:90%;">
    <br><br>
    <textarea id="input_card_content" style="width:90%;" placeholder= "enter card content" name="txt_comment" rows="10" cols="24" >{{ content }}</textarea>

    <br><br>
    <button onclick="deleteCard()">Delete Credential</button>
    <br><br>
    <button onclick="goBack()">Back</button>
    <br><br>
    <button onclick="backToProfile()">Home</button>

    
</div>


   

<div class="center-text">    
    <hr>
    {{action_mode}} {{record_kind}}  {{referer}}   
</div>

     
<script>
  setDarkMode();
</script>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}