{% extends "uxbase.html" %}

{% block title %}Update Card{% endblock %}
{% block head %}
{{ super() }}



<script>
var record_kind = parseInt("{{record_kind}}");
var referer = "{{referer}}";
async function backToProfile() {

window.location.href="/safebox/access" ;

}

async function goBack() {
    window.history.back();
}

async function privateData() {

window.location.href="/safebox/privatedata";
}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
//alert(`${parsedResult.status} ${parsedResult.detail}`);
alert("Done!");

 

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan";

}


async function shareCard() {

  alert("Coming!");
  
}

async function updateCard() {
    
    var data;
   
    var input_card_title = document.getElementById("input_card_title");
    var input_card_content = document.getElementById("input_card_content");

   
    user_confirm = confirm(`Are you sure you want to proceed with updating ${input_card_title.value}?`) ;
    if (user_confirm == false) {return;}
    

    const submit_data = {"title": input_card_title.value,
                          "content": input_card_content.value,
                          "kind": record_kind,
                          "final_kind":record_kind };

    

   await fetch('/safebox/updatecard', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));

    
    window.location.href=referer;
      }

async function deleteCard() {
  // var input_card_title = document.getElementById("input_card_title");

  user_confirm = confirm(`Are you sure you want to proceed with deleting {{card}}?`) ;

  const submit_data = {"title": "{{card}}", "kind": record_kind};

    

   await fetch('/safebox/deletecard', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));

    window.location.href=referer ;

}    

var global_nauth = "";
  
var global_client_nauth = "{{nauth}}";  
var global_client_transmittal_kind = null;

async function getQRStatus(return_result) {

  var qr_img_func = document.getElementById("img_qr_display");

  parsedResult = JSON.parse(JSON.stringify(return_result));

  global_nauth = parsedResult.detail;

  qr_img_func.src = "/safebox/qr/"+ global_nauth;




}

async function createQRCode() {
    
    var data;
    var qr_img_func = document.getElementById("img_qr_display");
    var presentation_status;
  
    qr_img_func.src="/img/circle-256.gif";
     await fetch('/credentials/nauth?scope=prover:{{label_hash}}', {
          method: "GET",
          headers: {"Content-Type": "application/json"}        
                
         })
      .then((response) => response.json())
      .then((data) => getQRStatus(data));
  
    const ws = new WebSocket(`wss://{{request.url.hostname}}/credentials/ws/listenforverifier/${global_nauth}`);
  
    ws.onopen = () => console.log("WebSocket connected");
    ws.onmessage = (event) => {
    console.log("Message received:", event.data);
    const response = JSON.parse(event.data);  
    global_client_nauth = response.nauth;
    presentation_status = response.status;
    
    client_name = response.name;
    global_client_transmittal_kind = response.transmittal_kind;
    // alert(`response status ${response.status}`);
    // client_name = response.name;
    if (response.status=="PRESENTACK") {
      qr_img_func.src="/img/hourglass.png" ;
      if (confirm(`Credential presentation request has been received. Do you want to transmit this credential for verification?`)) {  
                              // qr_img_func.src="/img/check.png" ;
                              
                              // add in function to select credential
                              


                              sendCredential();

                            } 
      
    } 
    
    if (response.status=="TIMEOUT") {
      alert(`Authentication has timed out! ${response.status} Please regenerate QR code`);  
      qr_img_func.src="/img/safebox.png";
    }
    ws.close()
    };
    ws.onclose = () => console.log("WebSocket closed");
 
  
  }

async function sendCredential() {

  
  // alert(`Verifying...`);
  // send credential to verfier
  submit_data = {"nauth": global_client_nauth};

  await fetch(`/credentials/sendcredential`, {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify(submit_data)       
                
         })
      .then((response) => response.json())
      .then((data) => getSendStatus(data));

}

async function getSendStatus(return_result) {
  var qr_img_func = document.getElementById("img_qr_display");

  parsedResult = JSON.parse(JSON.stringify(return_result));
  // alert(`${parsedResult.status} ${parsedResult.detail}`);
  alert(`Verification Done! ${parsedResult.detail}`);
  if (parsedResult.result) {
    qr_img_func.src="/img/check.png" ;
  }
  

 

}

</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>Present Credential </h1>   
    Click on logo to generate QR Code
    <br><br>
    <img id="img_qr_display" src="/img/safebox.png" onclick="createQRCode()">
    <br><br>
    <h2>Credential Information</h2>
</div>

<div id="card-container"></div>

<div class="center-text">
    

    <button onclick="deleteCard()">Delete Credential</button>
    <br><br>
    <button onclick="goBack()">Back</button>
    <br><br>
    <button onclick="backToProfile()">Home</button>

    
</div>


     
<script>
  setDarkMode();
</script>

<script>
  // Function to create and add a card
  function addCard(title, created_at, content) {
    // Create a card element
    const card = document.createElement('div');
    card.className = 'card';

    // Create and add the title element
    const cardTitle = document.createElement('div');
    cardTitle.className = 'card-title';
    cardTitle.textContent = title;

    // Create and add the created_at element
    const cardCreatedAt = document.createElement('div');
    cardCreatedAt.className = 'card-content';
    cardCreatedAt.textContent = `${created_at}`;

    // Create and add the content element
    const cardContent = document.createElement('div');
    cardContent.className = 'card-content';
    cardContent.textContent = content;
   
    card.appendChild(cardTitle);
    card.appendChild(cardCreatedAt);


    // figure out what to do with the card conte

    // Append title and content to the card

    try {

        if (typeof cardContent == 'object' ) {
        console.log(cardContent);



        } else {
          console.log("string");
        }




      } catch (error) {
        console.error("Invalid JSON:", error.message);
    }


    card.appendChild(cardContent);

    

    card.addEventListener('click', () => {
        // alert(`You clicked on: ${title} with: ${content}`);
        createQRCode();
        // window.location.href=`/safebox/displaycard?card=${title}&action_mode=edit&kind={{record_kind}}`;
      });

    // Append the card to the container
    const container = document.getElementById('card-container');
    container.appendChild(card);
  }

addCard("{{card}}","","{{content}}");
</script>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}