services:
  lnapp:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    container_name: safebox
    ports:
      - "7375:7375"
    environment:
      - TZ=America/New_York
    
    volumes:        
      - ./data:/app/data
      - ./branding:/app/branding
    command: ["gunicorn", "app.main:app", "--workers", "4", "--worker-class", "uvicorn.workers.UvicornWorker", "--bind", "0.0.0.0:7375", "--timeout", "120"]
   
    
