{% extends "uxbase.html" %}

{% block title %}Update Record{% endblock %}
{% block head %}
{{ super() }}



<script>
var record_kind = parseInt("{{record_kind}}");
var referer = "{{referer}}";
console.log(referer)
async function backToProfile() {

window.location.href="/safebox/access" ;

}

async function goBack() {
    window.history.back();
}

async function privateData() {

window.location.href="/safebox/privatedata";
}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
alert(`${parsedResult.status} ${parsedResult.detail}`);

 

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan";

}




async function updateOffer() {
    
    var data;
   
    var input_card_title = document.getElementById("input_card_title");
    var input_card_content = document.getElementById("input_card_content");

   
    // user_confirm = confirm(`Are you sure you want to proceed with updating ${input_card_title.value} ${record_kind}?`) ;
    // if (user_confirm == false) {return;}
    

    const submit_data = {"title": input_card_title.value,
                          "content": input_card_content.value,
                          "kind": record_kind,
                          "final_kind":record_kind };

    

   await fetch('/records/updaterecord', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => data);

    
    // window.location.href=referer;
    // window.history.back();
    window.location.href="/records/offerlist?kind={{record_kind}}";
    // console.log(referer);
      }

async function deleteGrant() {
  

  user_confirm = confirm(`Are you sure you want to proceed with deleting {{ card }}?`) ;

  const submit_data = {"title": "{{ card }}", "kind": record_kind};

    

   await fetch('/records/deleterecord', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => data);

    window.location.href=referer ;

}      



</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1> {{grant_label}}  </h1>  
    <div class="card">
      <div class="card-title">{{ card }}</div>
      <div class="card-content">{{ content }}</div>
    </div>
  
    <br><br>
    <button onclick="deleteGrant()">Delete</button>
    <br><br>
    <button onclick="goBack()">Back</button>
    <br><br>
    <button onclick="backToProfile()">Home</button>
    
</div>


   

<div class="center-text">    
    <hr>
    {{action_mode}} {{record_kind}}  {{referer}} grant.html   
</div>

     
<script>
  setDarkMode();
</script>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}