{% extends "uxbase.html" %}

{% block title %}Record Offer{% endblock %}
{% block head %}
{{ super() }}



<script>

  const jsonUserData = {{ user_records | tojson }};
  const record_kind = parseInt("{{ record_kind }}");
  //There are two ways to receive client nauth 1) from scan, 2) from websockets
  var client_nauth = "{{client_nauth}}";
  

  

</script>

<script>

var global_naddr = "";
var global_transmit_nauth = "None";

async function backToProfile() {


window.location.href="/safebox/access" ;

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan?referer=credential-offer";

}



async function getQRStatus(return_result) {

var qr_img_func = document.getElementById("img_qr_display");

parsedResult = JSON.parse(JSON.stringify(return_result));


 global_nauth = parsedResult.detail;

qr_img_func.src = "/safebox/qr/"+ global_nauth;
// qr_img_func.addEventListener("click", copytoClipboard);



}

async function createQRCode() {
    
    var data;
    var qr_img_func = document.getElementById("img_qr_display");
    var scope = "offer:{{offer_kind}}";
    var grant = "record:{{grant_kind}}";
   
    // alert(scope);

    qr_img_func.src="/img/circle-256.gif";   
    
    const submit_data = {"scope": scope, "grant": grant };

    await fetch(`/records/nauth`, {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(submit_data)         
           
      })
 .then((response) => response.json())
 .then((data) => {  // alert(data.detail);
                    global_nauth = data.detail;
                    var qr_img_func = document.getElementById("img_qr_display");
                    qr_img_func.src = "/safebox/qr/"+ global_nauth;

                }
 
 // getQRStatus(data)
 );

 const ws = new WebSocket(`wss://{{request.url.hostname}}/records/wsrequesttransmittal/${global_nauth}`);

   

    ws.onopen = () => console.log("WebSocket connected");
    ws.onmessage = (event) => {
      console.log("Message received:", event.data);
      const response = JSON.parse(event.data);  
      global_transmit_nauth = response.nauth;
      client_name = response.name;
      client_transmittal_kind = response.transmittal_kind;
      client_transmittal_relays = response.transmittal_relays;
    // client_name = response.name;
    // alert(`Client is authenticated! Ready to transmit files.`); 
    if (global_transmit_nauth) {
    // alert(`Client is authenticated! Ready to transmit files.`); 
      qr_img_func.src="/img/check.png";
    } else {
    // alert(`Authentication has timed out! Please regenerate QR code`);  
      qr_img_func.src="/img/safebox.png";
    }
    ws.close()
    offerRecord();
    
    
  };
  ws.onclose = () => console.log("WebSocket closed");
  

}

async function offerKind() {

  var offer_kind_value = document.getElementById("offer_kind").value
  // alert(`select kind ${offer_kind_value}`);
  window.location.href=`/records/offer?kind=${offer_kind_value}`;
}
</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>Offer {{offer_kind_label}} </h1>
    Create offer for: {{record_kind}} {{offer_kind_label}} {{grant_kind}}
   
      <br><br>
  <select id="offer_kind" name="offer_kind" onchange="offerKind()">
   {% for entry in offer_kinds %}
   <option value="{{entry[0]}}" {{"selected" if record_kind == entry[0] else " "}}>{{entry[1]}}</option>         
   {% endfor %}
   </select>
   <br><br>

    <button onclick="addRecordOffer()">Add {{offer_kind_label}} Offer</button>
    <br><br>
    Click on an existing {{offer_kind_label}} offer to modify or delete.


   
    
</div>

<div id="card-container"></div>

<script>

  function renderJSONObject(data) {
    // render json object
    // return "json object";
    let content = document.createElement('div');
    content.className = 'json-content';
    // Loop through the JSON object and display key-value pairs
        for (let key in data) {
            if (key !== 'title') {
                let row = document.createElement('p');
                row.innerHTML = `<strong>${key}:</strong> ${data[key]}`;
                content.appendChild(row);
            }
        }
    return content;

  }


  // Function to create and add a card
  function addCard(title, created_at, content) {
    // Create a card element
    const card = document.createElement('div');
    card.className = 'card';

    // Create and add the title element
    const cardTitle = document.createElement('div');
    cardTitle.className = 'card-title';
    cardTitle.textContent = title;

    // Create and add the created_at element
    const cardCreatedAt = document.createElement('div');
    cardCreatedAt.className = 'card-content';
    cardCreatedAt.textContent = `${created_at}`;

    // Create and add the content element
    const cardContent = document.createElement('div');
    cardContent.className = 'card-content';
    cardContent.textContent = content;
   
    card.appendChild(cardTitle);
    card.appendChild(cardCreatedAt);


    // figure out what to do with the card conte

    // Append title and content to the card

    try {

        if (typeof cardContent == 'object' ) {
        console.log(cardContent);



        } else {
          console.log("string");
        }




      } catch (error) {
        console.error("Invalid JSON:", error.message);
    }


    card.appendChild(cardContent);

    

    card.addEventListener('click', () => {
        // alert(`You clicked on: ${title} with: ${content}`);
        window.location.href=`/records/displayrecord?card=${title}&action_mode=edit&kind={{record_kind}}`;
      });

    // Append the card to the container
    const container = document.getElementById('card-container');
    container.appendChild(card);
  }

  // Example usage
  // alert("hello"+ JSON.stringify(jsonUserData)); 
  var render_payload = "";
  for (let record of jsonUserData)
  {
    if (record.hasOwnProperty("tag")) {
        console.log(`Name: ${record.tag} ${typeof record.payload}`);
        // check to see if payload is json
       

        addCard(record.tag, record.created_at,record.payload);


    } else {
        console.log("This record does not have a 'name' property.");
    }
    // addCard('Private Data 1', JSON.stringify(record));

  }

async function addRecordOffer() {
// alert(`add card ${record_kind}`);
window.location.href=`/records/displayrecord?action_mode=add&kind=${record_kind}`;


}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
// alert(`${parsedResult.status} ${parsedResult.detail}`);
alert("Done!");

 

}

async function offerRecord() {

    
    if (global_transmit_nauth=="None" && client_nauth == "None" ) {
      alert(`Please authenticate your credential recipient!`);
      return;
    }

    // if (confirm(`Are you sure you want to send?`)) {
      // alert(`Sending...`);
    // } else {return;}
  
    var data;
    if (global_transmit_nauth == "None"){
      
      nauth_to_transmit = client_nauth;

    } else {
      nauth_to_transmit = global_transmit_nauth;
    }
   


  const submit_data = { "nauth": nauth_to_transmit,
                        "originating_kind": {{offer_kind}},
                        "final_kind": {{grant_kind}}
   };

  console.log(`data to submit: ${submit_data.nauth}`) ;

  await fetch('/records/transmit', {
       method: "POST",
       headers: {"Content-Type": "application/json"},        
       body: JSON.stringify(submit_data)         
      })
   .then((response) => response.json())
   .then((data) => { alert(`Done! ${data.status}`)}
   
   // getStatus(data)
   );

   // window.location.href=referer;
     }




setDarkMode();


</script>
   

<div class="center-text">
  You need to authenticate your {{offer_kind_label}} recipient before you can offer a record.
  <br><br>

      
  <button onclick="offerRecord()">Offer to {{offer_kind_label}} Recipient</button>  
  <br><br>
  <button onclick="backToProfile()">Home</button>
  <br>
 <hr> 
 <h2>Offer to {{offer_kind_label}} Recipient?</h2>
 Click below to authenticate with {{offer_kind_label}} recipient. 
 <br>Please ask them to scan the generated QR code.
 <br><br>
    
 <img id="img_qr_display" onclick="createQRCode()"  src="/img/safebox.png" >
 <br><br>
 <button id="ln_scan_button" onclick="scanCode()">Authenticate {{offer_kind_label}} Recipient</button>
 <br><br>

     
        
</div>
     
<div class="center-text">
  <hr>

  {% if client_nauth %}
  {{client_nauth[:20] }}...{{ client_nauth[-15:]}} 
  {% endif %}    
  <br>Kind: {{record_kind}}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}