{% extends "uxbase.html" %}

{% block title %}Request Record{% endblock %}
{% block head %}
{{ super() }}





<script>


var global_transmit_nauth = "";
var global_listen_nauth;

function consoleLog(data) {
    var logElement = document.getElementById('log');
    logElement.innerHTML += data + '\n';
  };

async function requestbyNFC(grant_kind, record_label, nauth) {
   
    var qr_img_func = document.getElementById("img_qr_display");
    // userMessage(`Requesting ${nfc_amount} for ${nfc_currency}, please wait...`);
    const maskedNauth = nauth.slice(0, 7) + '...' + nauth.slice(-7);
    consoleLog(`Requesting by NFC. ${grant_kind} ${maskedNauth}. \n Please wait...`);
    var nfc_token;
    // var nfc_comment = document.getElementById("ln_recipient_memo").value;
    
    if ("NDEFReader" in window) {
      const ndef = new NDEFReader();
      try {
        await ndef.scan();
        ndef.onreading = event => {
          const decoder = new TextDecoder();
          for (const record of event.message.records) {

            nfc_token = decoder.decode(record.data);
          }
         //  alert(`Present ${grant_kind} ${nfc_token}` );
         qr_img_func.src = "/img/nfc-check.png";
         consoleLog(`NFC card read successfully!`);

         

         submitProof(nfc_token, record_label, nauth);
          
          
          // submitToken(nfc_amount, nfc_token, nfc_currency,nfc_comment)
          
        }
      } catch(error) {
        consoleLog(error);
      }
    } else {
      consoleLog("Web NFC is not supported.");
    }


  }

  async function submitProof(nfc_token, record_label, nauth) {

    // alert(`submit proof ${record_label}`);
    const submit_data = {"proof_token": nfc_token, "nauth": nauth, "label":record_label };
    await fetch('/records/acceptprooftoken', {
    method: "POST",
    headers: {"Content-Type": "application/json"},        
    body: JSON.stringify(submit_data)         
  })
  .then((response) => response.json())   
  .then((data) => { consoleLog(`done ${data.detail}`)});
  
  
  
  }

  async function createQRCode() {
  var data;
  var qr_img_func = document.getElementById("img_qr_display");
  var grant_kind = document.getElementById("grant_kind").value;
  var record_label = document.getElementById("record_label").value;
  const nfc_request = document.getElementById("nfc_request_checkbox");



    var scope = `verifier:${grant_kind}`;
    const submit_data = {"scope": scope  };

    await fetch(`/records/nauth`, {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(submit_data)         
           
      })
    .then((response) => response.json())
    .then((data) => {
      
     
      global_nauth = data.detail;
      // qr_img_func.src = "/safebox/qr/"+ global_nauth;
    
  

    });

  if (nfc_request.checked == true) {  
      qr_img_func.src = "/img/nfc.png";
      // alert("Please tap NFC card!");
      
      await requestbyNFC(grant_kind, record_label, global_nauth);
                     
  } else {

    console.log(`grant kind: ${grant_kind}`);

    // qr_img_func.src="/img/circle-256.gif";
    qr_img_func.src = "/safebox/qr/"+ global_nauth;

  }
     
  const ws = new WebSocket(`wss://{{request.url.hostname}}/records/wslisten/${global_nauth}`);

   

ws.onopen = () => console.log("WebSocket connected");
ws.onmessage = (event) => {
console.log("Message received for qr code:", event.data);

const response = JSON.parse(event.data);  
global_transmit_nauth = response.nauth;
client_name = response.name;
client_transmittal_kind = response.transmittal_kind;
client_transmittal_relays = response.transmittal_relays;
// client_name = response.name;
// alert(`Client is authenticated! Ready to transmit files.`); 
if (global_transmit_nauth) {
// alert(`Client is authenticated! Ready to transmit files.`); 
// qr_img_func.src="/img/hourglass.png";
} else {
// alert(`Authentication has timed out! Please regenerate QR code`);  
qr_img_func.src="/img/safebox.png";
}
ws.close();
listenForRecord(response.nauth);
};
ws.onclose = () => console.log("WebSocket closed");





// addCard("test","test","testbbo");
      
      
      }
</script>

<div class="center-text">
  <h1>Request Record</h1>
  <span id="span_msg_status">Select Record Type:</span>   

 
  <br><br>
  <select id="grant_kind" name="grant_kind" style="font-size: 16px;">
   {% for entry in grant_kinds %}
   <option value="{{entry[0]}}">{{entry[1]}}</option>         
   {% endfor %}
   </select>
   <br><br>
   Label: 
   <br><br>
   
    <input style="width:60%;" type="text" list= "labels"   id="record_label" name="record_label" value="default" >
    <datalist id="labels" >
              <option value="default"></option>
              <option value="home"></option>
              <option value="business"></option>
              <option value="school"></option>
    </datalist>
  
  <br><br>  
  <label>
  <input type="checkbox" id="nfc_request_checkbox" name="nfc_request_checkbox">
  Request by NFC
  <br><br>
  </label>
 
   <img id="img_qr_display" src="/img/safebox.png" onclick="createQRCode()">

</div>

<script>



async function backToProfile() {


window.location.href="/safebox/access" ;

}

async function listenForRecord(nauth) {
    
  console.log(`listen for credential presentation ${nauth}`);
    
    const ws = new WebSocket(`wss://{{request.url.hostname}}/records/ws/listenforrecord/${nauth}`);  
    
       
      // alert("listen for credential");
      // alert(span_msg_status.textContent)
      span_msg_status.textContent = "Listening for record...";
      ws.onopen = () => console.log("WebSocket connected");
      ws.onmessage = (event) => {
      console.log("Message received for listen record:", event.data);
      const response = JSON.parse(event.data);  
    
      if (response.status == "TIMEOUT")
      {
        alert("Record presentation has timed out. Please retry.");
        span_msg_status.textContent = "Record presentation has timed out. Please retry.";
      }
    
      if (response.status == "VERIFIED")
      {
        
        // alert(`Credential has been received! ${JSON.stringify(response.detail)}`);
        span_msg_status.textContent = "Record has been received!";
        addCard(response.detail.tag,`Verification: ${response.result}`,response.detail.payload);
        var qr_img_func = document.getElementById("img_qr_display");
      
        qr_img_func.src = "/img/check.png";

      }
      
      
      ws.close()
      };
      ws.onclose = () => console.log("WebSocket closed");
      
    
    
    
    }










</script>

{% endblock %}

{% block page_content %}





<div id="card-container"></div>

<script>




  // Function to create and add a card
  function addCard(title, created_at, content) {
    // Create a card element
    const card = document.createElement('div');
    card.className = 'card';

    // Create and add the title element
    const cardTitle = document.createElement('div');
    cardTitle.className = 'card-title';
    cardTitle.textContent = title;

    // Create and add the created_at element
    const cardCreatedAt = document.createElement('div');
    cardCreatedAt.className = 'card-content';
    cardCreatedAt.textContent = `${created_at}`;

    // Create and add the content element
    const cardContent = document.createElement('div');
    cardContent.className = 'card-content';
    cardContent.textContent = content;
   
    card.appendChild(cardTitle);
    card.appendChild(cardCreatedAt);


    // figure out what to do with the card conte

    // Append title and content to the card

    try {

        if (typeof cardContent == 'object' ) {
        console.log(cardContent);



        } else {
          console.log("string");
        }




      } catch (error) {
        console.error("Invalid JSON:", error.message);
    }


    card.appendChild(cardContent);

    

    card.addEventListener('click', () => {
        alert(`You clicked on: ${title} with: ${content}`);
        // window.location.href=`/safebox/displaycard?card=${title}&action_mode=edit&kind={{record_kind}}`;
      });

    // Append the card to the container
    const container = document.getElementById('card-container');
    container.appendChild(card);
  }



async function addCredentialOffer() {
// alert(`add card ${record_kind}`);
window.location.href=`/safebox/displaycard?action_mode=add&kind=${record_kind}`;


}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
// alert(`${parsedResult.status} ${parsedResult.detail}`);
alert("Done!");

 

}

setDarkMode();









</script>
   

<div class="center-text">

  <button onclick="backToProfile()">Home</button>
  <br>
 

    


     
        
</div>
     
<div class="center-text">
  <hr>
   <pre id="log"></pre>  
   <br><br>


</div>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}