{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}

<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>

{% endblock %}

{% block page_content %}



<main role="main" class="container">
    
    <div class="container">
        
        <div class="col" style="text-align: center;">            
            
            <h3>{{safebox.handle}}@{{request.url.hostname}}</h3>
            <img src="https://robohash.org/{{safebox.handle}}">
            <br><br>
            <p>Your handle is: {{safebox.handle}}</p>             
            <p>Your seed phrase is: <br>
            <hr>
            <b>{{safebox.seed_phrase}}</b></p>  
            <hr>            
            <p>Your access_key is: </b></p>
            <b>{{safebox.access_key}}</b></p>
            <p>Your balance is: {{safebox.balance}} sats</p>   
            <br>
            <br>
            <button id="ln_scan_button"onclick="scanCode()">Hello</button>
            
        </div>
    </div>
</main><!-- /.container -->


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}