{% extends "uxbase.html" %}

{% block title %}Danger Zone{% endblock %}
{% block head %}
{{ super() }}



<script>



async function backToHome() {

window.location.href="/safebox/access" ;

}





async function attest() {
// alert("scan!");

const npub_safebox = "{{acorn_obj.pubkey_bech32}}"
var use_signer = document.getElementById("use_signer")
if ("nostr" in window && use_signer.checked) {
  var public_key = await window.nostr.getPublicKey();

  // alert(public_key);
  var tags = [  ["d", "{{acorn_obj.pubkey_bech32}}:safebox-under-control"],
            ["p", "{{acorn_obj.pubkey_hex}}"],
            ["v", "valid"]
          ];
  var content = `Npub holder: ${public_key} has attested ownership of safebox: {{acorn_obj.pubkey_hex}}`
  event_to_sign = {   "created_at": Math.floor(Date.now() / 1000),
                      "kind": 31871,
                      "tags": tags,
                      "content": content


  };

  
  var signed_event = await window.nostr.signEvent(event_to_sign);
  alert(JSON.stringify(signed_event));

  submit_data = {"signed_event": signed_event};

  await fetch('/safebox/publishsignedevent', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => {data});

  
} else
{
  //alert("you need the browser extension!");
  var owner_nsec = prompt("Enter the owner nsec to use");

  submit_data = {"owner_nsec": owner_nsec};

  await fetch('/safebox/attestationowner', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => { data;
                      alert(JSON.stringify(data));

    });

}


}
</script>


<script>

  
  async function writeTag() {
    var nfc_text_area = document.getElementById("nfc_text");
    var nfc_text = nfc_text_area.value
    
    if ("NDEFReader" in window) {
      const ndef = new NDEFReader();
      try {
        await ndef.write(nfc_text);
        alert("NDEF message written!");
        consoleLog("NDEF message written: " + nfc_text);
      } catch(error) {
        consoleLog(error);
      }
    } else {
      alert("Web NFC is not supported.");
    }
  }
  


  function consoleLog(data) {
    var logElement = document.getElementById('log');
    logElement.innerHTML += data + '\n';
  };
  
  if (localStorage) {
  
      //alert("Local Storage!");
      // localStorage.setItem("name", "Tim");
  }




  
  </script>

{% endblock %}

{% block page_content %}

<div class="center-text">
<h1>Attestation</h1>

  Warning this is experimental!
  <br><br>
  <button onclick="attest()">Attest</button> 
  <br><br>
  <input type="checkbox" id="use_signer" name="use_signer" checked>
  Use Signer, if available

  

  <hr>
  
</div>





   

<div class="center-text">
 
        
    <br><br>
    <button onclick="backToHome()">Home</button>
      
 

        
     
        
</div>
     
<script>
  setDarkMode();
</script>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}