{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}



<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>



<script>


  var reveal_seed_phrase = false;
  var reveal_access_key = false;
  var old_balance = "{{safebox.balance}}";
  var onboard = "{{onboard}}";
  var action_mode = "{{action_mode}}";
  var action_data = "{{action_data}}";
  var clipboard_data = "*** MY IMPORTANT DATA ***\n\nService: https://{{request.url.hostname}} \n\nAccess Key: \n\n{{safebox.access_key}} \n\nRecovery Phrase (12 words):\n\n{{safebox.seed_phrase}}\n\n*** END OF MY IMPORTANT DATA ***"
  var backup_message = "Your important data is copied to the clipboard! \n\nPlease copy your access key and recovery phrase to a secure and private place \n\nDon't delay. This message appears the first time you use your wallet.";
  var onboard_msg = "Welcome to OpenBalance Safebox! \n\nYou are automatically and securely logged in! \n\nWrite down your access key as soon as you can. You can find your access key at the bottom of the page.  \n\nBy pressing OK, you agree to the terms and conditions of this awesome experimental service!";


 

  if (onboard=="True") {
  alert(onboard_msg);
  }

  async function logout() {
  var data; 
  //alert("log out");
  await fetch('/safebox/logout', {
        method: "GET",
        headers: {"Content-Type": "application/json"}        
               
       })
    .then((response) => response.json())
  
  
  //location.reload();
  window.location.href="/";
  
  

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan/?wallet_name={{safebox.handle}}";

}

function revealSeedPhrase() {
    var reveal_seed_phrase_text = document.getElementById("seed_phrase_reveal_text");
    //alert("reveal seed phrase!");
    if (reveal_seed_phrase == false) 
    {
        
        
        reveal_seed_phrase_text.textContent = "{{safebox.seed_phrase}}";
        reveal_seed_phrase = true;
    }
    else
    {
        reveal_seed_phrase_text.textContent = "*********";
        reveal_seed_phrase = false;
    }
  }

  function revealAccessKey() {
    var reveal_access_key_text = document.getElementById("access_key_reveal_text");
    //alert("reveal seed phrase!");
    if (reveal_access_key == false) 
    {
        
        
        access_key_reveal_text.textContent = "{{safebox.access_key}}";
        reveal_access_key = true;
    }
    else
    {
        access_key_reveal_text.textContent = "*********";
        reveal_access_key = false;
    }
  } 

  

function receivePayment() {

  //alert("Receive Payment {{safebox.handle}}");
  window.location.href="/safebox/profile/{{safebox.handle}}";
}

function onboardFriend() {

  //alert("Onboard");
  window.location.href="/invite?onboard_code={{safebox.handle}}";
}

async function privateData() {

window.location.href="/safebox/privatedata";
}

async function copytoClipboard() {

await navigator.clipboard.writeText(clipboard_data);
alert(backup_message);


// ln_invoice_status.textContent = "Lightning Invoice Copied to Clipboard!";

}
async function copyAddress() {

await navigator.clipboard.writeText("{{safebox.handle}}@{{request.url.hostname}}");
alert("{{safebox.handle}}@{{request.url.hostname}}"+ " copied to clipboard!");




}


function checkBalance(balance) {

  var heading_balance = document.getElementById("heading_balance");
  var payment_notification = document.getElementById("payment_notification");
  new_balance =  parseInt(JSON.stringify(balance));
  // alert("new balance " + new_balance);
  if (new_balance > old_balance)
  {   alert("Funds received of: " + (new_balance-old_balance).toString() + " sats");
      payment_notification.textContent = (new_balance-old_balance).toString() + " sats received!";
      old_balance = new_balance;
      

  }
  else
  {
    payment_notification.textContent = "Ready for Payment!" ;
  }
  heading_balance.textContent = JSON.stringify(balance) +" sats"

  //alert(JSON.stringify(balance));
}




setInterval(pollPayment, 10000);

function pollPayment() {
var data; 


fetch('/safebox/poll')
    .then((response) => response.json())
    .then((data) => checkBalance(data['balance']));

// alert("hello");

}


function setActions(local_action_mode,local_action_data) {
  if (local_action_mode=="lnaddress"){
     
      
    
      const input_1 = document.getElementById("ln_recipient_address");
      const pay_1 = document.getElementById("ln_pay_button")
      input_1.value = local_action_data;
      pay_1.textContent = "Authorize Payment";
      //alert(local_action_mode  + local_action_data);
     
  }
}

function getlnPayStatus(ln_pay_status) {
  // var ln_pay_button = document.getElementById("ln_pay_button");
    console.log(ln_pay_status);

    var status = JSON.stringify(ln_pay_status["detail"]);
    const parsedObject = JSON.parse(JSON.stringify(ln_pay_status));
    alert("Payment " + parsedObject.detail);


   

}

async function lnPay() {
  const recipient_address = document.getElementById("ln_recipient_address");
  const recipient_amount = document.getElementById("ln_recipient_amount");
  const recipient_memo = document.getElementById("ln_recipient_memo");
  const pay_button = document.getElementById("ln_pay_button");
  var ln_address = recipient_address.value;
  var ln_amount = parseInt(recipient_amount.value);
  var ln_comment = recipient_memo.value;
  // alert("Pay! " + ln_address + " " + ln_amount + " with comment "+ ln_comment);
  var old_text = pay_button.textContent;
  pay_button.textContent = "Paying now. Please wait...";
  pay_button.disabled = true;

  const submit_data = {"amount": ln_amount,
                        "address":ln_address,  "comment": ln_comment};

    // alert(JSON.stringify(submit_data));
  
    // ln_pay_button.textContent = "Please wait...";

      await fetch('/safebox/pay', {
            method: "POST",
            headers: {"Content-Type": "application/json"},        
            body: JSON.stringify(submit_data)         
          })
        .then((response) => response.json())
        .then((data) => getlnPayStatus(data));
        //ln_pay_button.textContent = "Pay to Lightning Address!";
        //ln_pay_button.disabled = false;
        
        // location.reload();
        //window.location.href="/wallet/"

        pay_button.textContent = old_text;
        pay_button.disabled = false;
      


}

</script>

{% endblock %}

{% block page_content %}
<div class="center-text">
  {% if onboard %} 
    Welcome!
  {% else %}  
    Welcome back!
  {% endif %}

  

  <h3>My OpenBalance</h3>
  <h4 id="heading_balance">{{safebox.balance}} sats</h4>
  <span id="payment_notification">Scan My Address!</span>
  <br>
 
  <img src="https://robohash.org/{{safebox.handle}}">
  <br>  
  <img src="/safebox/qr/{{safebox.handle}}@{{request.url.hostname}}">
  <br><br>
  {{action_mode}} {{action_data}}
  
  <p><h4>My Lightning Address is:</h4> </p>
  <p id="ln_address_text" onclick="copyAddress()"><b>{{safebox.handle}}@{{request.url.hostname}}</b></p>
  <button id="ln_scan_button" onclick="scanCode()">Scan</button>  
  <br><br>  
  <button id="ln_accept_payment" onclick="receivePayment()">Receive</button>  

  <hr>
  <h4>Make a Lighting Payment To:</h4>
  <br><input style="width:100%;" type="text" placeholder="enter lightning address"  id="ln_recipient_address" name="ln_recipient_address"  size="24" ">
  <br>
  <br><h4>Enter Amount:</h4>
  <br><input type="number" placeholder="0" id="ln_recipient_amount" name="ln_recipient_amount"  value="" size="8">
  <br>
  <br>
  <h4>Memo:</h4>
  <textarea id="ln_recipient_memo" placeholder= "Thanks!" name="txt_comment" rows="3" cols="24"></textarea>
  <br><br>
  <button id="ln_pay_button" onclick="lnPay()">Authorize Payment</button>  
  
  <hr>
  <i><h4>My Personal Information</h4></i>
 
  <i><h5>My Security Info</h5></i>
      
  <p>My seed phrase is: <br>
 
  <p id="seed_phrase_reveal_text" onclick="revealSeedPhrase()">*********</p>
  
          
  <p>My access_key is: </b></p>
  <p id="access_key_reveal_text" onclick="revealAccessKey()">*********</p>
  {% if onboard %} 
  <button id="clipboard_button" onclick="copytoClipboard()" >
    <b>***Important***</b> 
    <br> Copy My Access Key and Recovery Phrase to Clipboard
    <br><b>***Click Now***</b>
  </button>
  <br>
  <br>
  

  {% endif %}
  
  <i><h5>My Private Info</h5></i>
  <button id="my_private_data_button" onclick="privateData()" >Private Data</button>
 
  <hr>
  <i><h5>My Shareable Info</h5></i>
  <br><br>Coming soon...
  <br>
  <hr>
  <i><h4>Social</h4></i>
  <button id="onboard_button" onclick="onboardFriend()" >Onboard a Friend</button>
  <br>
  <br>
  <hr>
  <i><h4>Exit Safebox</h4></i>
  <br>
  <button id="logout_button"onclick="logout()" >Logout</button>
            
</div>

<script>
setActions(action_mode,action_data);



</script>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}