{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}



<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>

<script type="module">

  import { Confetti } from './confetti.js';


</script>

<script>


  var reveal_seed_phrase = false;
  var reveal_access_key = false;
  var old_balance = "{{safebox.balance}}";
  var onboard = "{{onboard}}";
  var clipboard_data = "*** MY IMPORTANT DATA ***\n\nService: https://{{request.url.hostname}} \n\nAccess Key: \n\n{{safebox.access_key}} \n\nRecovery Phrase (12 words):\n\n{{safebox.seed_phrase}}\n\n*** END OF MY IMPORTANT DATA ***"
  var backup_message = "Your important data is copied to the clipboard! \n\nPlease copy your access key and recovery phrase to a secure and private place \n\nDon't delay. This message appears the first time you use your wallet.";

 
 

  if (onboard=="True") {
  alert("Welcome to Safebox! \n\nYou are automatically and securely logged in! \n\nWrite down your access key as soon as you can. You can find your access key at the bottom of the page.  \n\nBy pressing OK, you agree to the terms and conditions of this awesome experimental service!");
  }

  async function logout() {
  var data; 
  //alert("log out");
  await fetch('/safebox/logout', {
        method: "GET",
        headers: {"Content-Type": "application/json"}        
               
       })
    .then((response) => response.json())
  
  
  //location.reload();
  window.location.href="/";
  
  

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan/?wallet_name={{safebox.handle}}&acquire_mode=private";

}

function revealSeedPhrase() {
    var reveal_seed_phrase_text = document.getElementById("seed_phrase_reveal_text");
    //alert("reveal seed phrase!");
    if (reveal_seed_phrase == false) 
    {
        
        
        reveal_seed_phrase_text.textContent = "{{safebox.seed_phrase}}";
        reveal_seed_phrase = true;
    }
    else
    {
        reveal_seed_phrase_text.textContent = "*********";
        reveal_seed_phrase = false;
    }
  }

  function revealAccessKey() {
    var reveal_access_key_text = document.getElementById("access_key_reveal_text");
    //alert("reveal seed phrase!");
    if (reveal_access_key == false) 
    {
        
        
        access_key_reveal_text.textContent = "{{safebox.access_key}}";
        reveal_access_key = true;
    }
    else
    {
        access_key_reveal_text.textContent = "*********";
        reveal_access_key = false;
    }
  } 

  function receivePayment() {

  //alert("Receive Payment {{safebox.handle}}");
  window.location.href="/safebox/profile/{{safebox.handle}}";
}

function onboardFriend() {

  //alert("Onboard");
  window.location.href="/invite?onboard_code={{safebox.handle}}";
}

async function copytoClipboard() {

await navigator.clipboard.writeText(clipboard_data);
alert(backup_message);


// ln_invoice_status.textContent = "Lightning Invoice Copied to Clipboard!";

}
async function privateData() {


alert("Coming Soon!");


// ln_invoice_status.textContent = "Lightning Invoice Copied to Clipboard!";

}

function checkBalance(balance) {

  var heading_balance = document.getElementById("heading_balance");
  var payment_notification = document.getElementById("payment_notification");
  new_balance =  parseInt(JSON.stringify(balance));
  if (new_balance > old_balance)
  {   alert("Funds received of: " + (new_balance-old_balance).toString() + " sats");
      payment_notification.textContent = (new_balance-old_balance).toString() + " sats paid!";
      old_balance = new_balance;
      

  }
  else
  {
    payment_notification.textContent = "Waiting for Payment!" ;
  }
  heading_balance.textContent = JSON.stringify(balance) +" sats"

  //alert(JSON.stringify(balance));
}




setInterval(pollPayment, 10000);

function pollPayment() {
var data; 


fetch('/safebox/poll')
    .then((response) => response.json())
    .then((data) => checkBalance(data['balance']));

// alert("hello");

}



</script>

{% endblock %}

{% block page_content %}
<div class="center-text">
  {% if onboard %} 
    Welcome!
  {% else %}  
    Welcome back!
  {% endif %}

  

  <h3>My OpenBalance</h3>
  <h4 id="heading_balance">{{safebox.balance}} sats</h4>
  <span id="payment_notification">Scan My Address!</span>
  <br>
  <img src="https://robohash.org/{{safebox.handle}}">
  <br>  
  <img src="/safebox/qr/{{safebox.handle}}@{{request.url.hostname}}">
  <br><br>
  <p>My Lightning Address is: </p>
  <p><b>{{safebox.handle}}@{{request.url.hostname}}</b></p>
  <button id="ln_scan_button" onclick="scanCode()">Scan</button>  
  <br><br>  
  <button id="ln_accept_payment"onclick="receivePayment()">Receive</button>  

  <hr>
  Make a Lighting Payment To:
  <br><input style="width:100%;" list="contacts" placeholder="enter lightning address"  id="ln_recipient" name="ln_recipient" value="{{ln_recipient}}" size="24" oninput="getMode()" onchange="setMode()">
  <br>Amount:
  <br><input type="number" placeholder="0" id="ln_recipient_amount" name="ln_recipient_amount" onchange="checkAmount()" value="" size="8">
  <br>
  Memo:
  <textarea id="txt_comment" placeholder= "Thanks!" name="txt_comment" rows="3" cols="24"></textarea>
  <br><br>
  <button id="ln_scan_button" onclick="scanCode()">Pay</button>  
  
  <hr>
  <i><h4>Important and Private Stuff</h4></i>
  <hr>       
  <p>My seed phrase is: <br>
 
  <p id="seed_phrase_reveal_text" onclick="revealSeedPhrase()">*********</p>
  
  <hr>            
  <p>My access_key is: </b></p>
  <p id="access_key_reveal_text" onclick="revealAccessKey()">*********</p>
  {% if onboard %} 
  <button id="clipboard_button" onclick="copytoClipboard()" >
    <b>***Important***</b> 
    <br> Copy My Access Key and Recovery Phrase to Clipboard
    <br><b>***Click Now***</b>
  </button>
  <br>
  <br>
  <button id="my_private_data_button" onclick="privateData()" >My Private Data</button>

  {% endif %}
 
  <hr>
  <i><h4>Social Stuff</h4></i>
  
  <br>
  <button id="onboard_button" onclick="onboardFriend()" >Onboard a Friend</button>
  <br>
  <br>
  <i><h4>Exit Safebox</h4></i>
  <br>
  <button id="logout_button"onclick="logout()" >Logout</button>
            
</div>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}