{% extends "uxbase.html" %}

{% block title %}Update Card{% endblock %}
{% block head %}
{{ super() }}



<script>

async function backToProfile() {

window.location.href="/safebox/access" ;

}

async function privateData() {

window.location.href="/safebox/privatedata";
}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
alert(`${parsedResult.status} ${parsedResult.detail}`);

 

}

async function updateCard() {
    
    var data;
   
    var input_card_title = document.getElementById("input_card_title");
    var input_card_content = document.getElementById("input_card_content");

   
    user_confirm = confirm(`Are you sure you want to proceed with updating ${input_card_title.value}?`) ;
    if (user_confirm == false) {return;}
    

    const submit_data = {"title": input_card_title.value,
                          "content": input_card_content.value };

    

   await fetch('/safebox/updatecard', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));

    window.location.href="/safebox/privatedata";
      }


</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h4>Update Card {{card}}</h4>
    Update Card.
    <br><br><input type="text" placeholder="" id="input_card_title"   value="{{card}}" style="width:90%;">
    <br><br>
    <textarea id="input_card_content" style="width:90%;" placeholder= "Enter optional comment" name="txt_comment" rows="10" cols="24" >{{ content }}</textarea>
    <button onclick="updateCard()">Update Card</button>
    <br><br>
    <button onclick="deleteCard()">Delete Card</button>
    <br><br>
    <button onclick="privateData()">Back to Cards</button>
    <hr>

    
    
</div>


   

<div class="center-text">
  <hr>
    

        
        
        

    <button onclick="backToProfile()">Back to Safebox</button>
      
 

        
     
        
</div>
     



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}