{% extends "uxbase.html" %}

{% block title %}My Credentials{% endblock %}
{% block head %}
{{ super() }}

<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>

<script>

async function backToProfile() {


window.location.href="/safebox/access" ;

}

</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    
        <h1>Credentials</h1>
        <p class="lead">Coming soon!!!</p>
        <p>Private data for: {{safebox.handle}}</p>        
        <p>Credential data is being stored on home relay: {{safebox.home_relay}}</p>
        
        
        <br>
        <br>
        <button onclick="backToProfile()">Back to Profile</button>
      
 

        <hr>
     
        
    </div>
     



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}