{% extends "uxbase.html" %}

{% block title %}Danger Zone{% endblock %}
{% block head %}
{{ super() }}



<script>

async function backToProfile() {

window.location.href="/safebox/access" ;

}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
alert(`${parsedResult.status} ${parsedResult.detail}`);

 

}

async function setCustomHandle() {
    
    var data;
   
    var input_custom_handle = document.getElementById("input_custom_handle");

    custom_handle = input_custom_handle.value;
    user_confirm = confirm(`Are you sure you want to proceed with ${custom_handle.toLowerCase()} as your custom handle`);
    if (user_confirm == false) {return;}
    

    const submit_data = {"custom_handle": custom_handle};

   await fetch('/safebox/setcustomhandle', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));


      }

    async function setOwnerNpub() {
    
    var data;
   
    var input_owner_npbub = document.getElementById("input_owner_npub");

    owner_npub = input_owner_npub.value;
    user_confirm = confirm(`Are you sure you want to proceed with setting ${owner_npub} as your owner npub?`);
    if (user_confirm == false) {return;}
    

    const submit_data = {"npub": owner_npub, "local_currency": null};

   await fetch('/safebox/setownerdata', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));


      }
      async function setOwnerCurrency() {
    
    var data;
   
    var input_owner_npbub = document.getElementById("input_owner_currency");

    owner_currency = select_currency.value;
    user_confirm = confirm(`Are you sure you want to proceed with setting ${owner_currency} as your owner currency?`);
    if (user_confirm == false) {return;}
    

    const submit_data = {"npub": null, "local_currency": owner_currency};

   await fetch('/safebox/setownerdata', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));


      }
</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>This is the Danger Zone!</h1>
    <p>Untested functionality lies here! Only for the brave of heart should continue...</p>
    <hr>
    Set your custom handle. This gives you a friendly lighting address.
   <br><br><input type="text" placeholder="enter custom handle" id="input_custom_handle"   value="" style="width:90%;">
    <br><br>
    <button onclick="setCustomHandle()">Set Custom Handle</button>
    <br><br>
    <hr>
    Set your owner npub. This gives you a NIP-05 verification address.
    <br><br><input type="text" placeholder="enter owner npub" id="input_owner_npub"   value="" style="width:90%;">
     <br><br>
     <button onclick="setOwnerNpub()">Set Owner Npub</button>
     <br><br>
     Set your owner currency: 
     <select id="select_currency" name="select_currency">
      {% for entry in currencies %}
      <option >{{entry}}</option>         
      {% endfor %}
      </select>
     
      <br><br>
      <button onclick="setOwnerCurrency()">Set Owner Currency</button>
      <br><br>
      <hr>
      Your emergency code: {{safebox.emergency_code}}
      <br><br>
      <img src="/imgeqr/{{safebox.emergency_code}}"
</div>


   

<div class="center-text">
  <hr>
    

        
        
        

    <button onclick="backToProfile()">Home</button>
      
 

        
     
        
</div>
     
<script>
  setDarkMode();
</script>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}