{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}

<script>

var referer = "{{referer}}";

</script>

<script src="/js/jquery-3.6.2.min.js"></script>
<script src="/js/ui-utils.js"></script>
<script src="/js/tx-utils.js"></script>
<script src="/js/ui-prescription-utils.js"></script>
<script>

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
alert(`${parsedResult.status} ${parsedResult.detail}`);

 

}

async function savePrescription() {
    if (confirm("Save Prescription?")==false)
    { return;}
    const submit_data = {"title": "eye prescription",
                          "content": "eye prescription data",
                          "originating_kind": 32227,
                          "final_kind": 32225,
                          "kind": 32227 };

    

   await fetch('/safebox/updatecard', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));

    window.location.href="/safebox/healthconsult";
    
      }


</script>

{% endblock %}

{% block page_content %}


    <div class="center-text"
        <div class="page">
            <div class="section row">
                <h1 class="col" id="name"></h1>
                <div class="contact-info col-right">
                    <div id="email"></div>
                    <div id="website"></div>
                    <div id="location"></div>
                </div>
            </div>
            <div class="section row">
                <h1 class="col">Eye Prescription</h1>
                <div class="section-text col-right">
                    <div id="receiver-section" class="extra-top-margin">
                        <input class="cool-field" style="width:80%;" type="text" id="receiver" size="60" placeholder="nprofile1..." onblur="onPubKeyFocusLost(event);" onkeyup="onPubKeyUp(event);">
                    </div>
                    <div id="receiver-name-section" class="extra-top-margin">
                       
             
                        <ul id="receiver-relays-ul" class="relays"><br>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Message</h2>
                <div class="section-text col-right">
                    <div id="message-section" class="extra-top-margin">
                        <textarea class="cool-field-area" style="width:80%;" rows="6" id="message" spellcheck="false"></textarea>
                    </div>
                </div>
            </div>
            <div class="section row">
                <h2 class="col">Prescription</h2>
                <div class="section-text col-right row">
                    <div class="extra-top-margin">
                        <input type="radio" id="glasses" name="type" value="glasses" onchange="glassesClick();" checked><label for="glasses">&nbsp;&nbsp;Glasses</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="contacts" name="type" value="contacts" onchange="contactsClick();"><label for="contacts"></label>&nbsp;&nbsp;Contact Lenses</label>
                    </div>

                    <div class="extra-top-margin" id="table">
                        <table>
                            <tr>
                                <th></th>
                                <th class="right-text">Sphere</th>
                                <th class="right-text">Cylinder</th>
                                <th class="right-text">Axis</th>
                                <th class="right-text" id="head-pd">PD</th>
                                <th>&nbsp;</th>


                            </tr>
                            <tr>
                                <td>OD:</td>
                                <td><input class="cool-field right-text" type="text" id="right-sphere" size="6" placeholder="-0.00" onblur="validateSph(this);"></td>
                                <td><input class="cool-field right-text" type="text" id="right-cylinder" size="6" placeholder="-0.00" onblur="validateCyl(this);"></td>
                                <td><input class="cool-field right-text" type="text" id="right-axis" size="6" placeholder="180" onblur="validateAxis(this);"></td>
                                <td id="right-pd-container"><input class="cool-field right-text" type="text" id="right-pd" size="6" placeholder="31" onblur="validatePD(this);"></td>
                                <td></td>
                                
                            </tr>
                            <tr>
                                <td>...</td>
                                <th class="right-text" id="head-inter-add">Inter Add</th>
                                <th class="right-text" id="head-add">Add</th>                               
                                <th class="right-text" id="head-prism-value">Prism</th>
                                <th class="right-text" id="head-prism-base">Base</th>
                                <th class="right-text" id="head-curve" style="display: none;">Curve</th>
                                <th class="right-text" id="head-diameter" style="display: none;">Diam</th>
                                <th class="right-text" id="head-brand" style="display: none;">Brand</th>
                            </tr>
                            <tr>
                                <td></td>
                            <td id="right-inter-add-container"><input class="cool-field right-text" type="text" id="right-inter-add" size="6" placeholder="+0.00" onblur="validateAdd(this);"></td>
                                <td id="right-add-container"><input class="cool-field right-text" type="text" id="right-add" size="6" placeholder="+0.00" onblur="validateAdd(this);"></td>
                                <td id="right-prism-value-container"><input class="cool-field right-text" type="text" id="right-prism-value" size="6" placeholder="" onblur="validatePrismValue(this);"></td>
                                <td id="right-prism-base-container">
                                    <select class="cool-field" name="right-prism-base" id="right-prism-base">
                                        <option value="none">--</option>
                                        <option value="up">Up</option>
                                        <option value="down">Down</option>
                                        <option value="in">In</option>
                                        <option value="out">Out</option>
                                    </select>
                                </td>
                                <td id="right-curve-container" style="display: none;"><input class="cool-field right-text" type="text" id="right-curve" size="6" placeholder="" ></td>
                                <td id="right-diameter-container" style="display: none;"><input class="cool-field right-text" type="text" id="right-diameter" size="6" placeholder=""></td>
                                <td id="right-brand-container" style="display: none;"><input class="cool-field right-text" type="text" id="right-brand" size="15" placeholder=""></td>
                            </tr>
                            <tr><hr></tr>
                            <tr>
                                <th></th>
                                <th class="right-text">Sphere</th>
                                <th class="right-text">Cylinder</th>
                                <th class="right-text">Axis</th>
                                <th class="right-text" id="head-pd-2">PD</th>
                                <th>&nbsp;</th>

                                <th class="right-text" id="head-curve" style="display: none;">Curve</th>
                                <th class="right-text" id="head-diameter" style="display: none;">Diam</th>
                                <th class="right-text" id="head-brand" style="display: none;">Brand</th>
                            </tr>
                            <tr>
                                <td>OS:</td>
                                <td><input class="cool-field right-text" type="text" id="left-sphere" size="6" placeholder="-0.00" onblur="validateSph(this);"></td>
                                <td><input class="cool-field right-text" type="text" id="left-cylinder" size="6" placeholder="-0.00" onblur="validateCyl(this);"></td>
                                <td><input class="cool-field right-text" type="text" id="left-axis" size="6" placeholder="180" onblur="validateAxis(this);"></td>
                                <td id="left-pd-container"><input class="cool-field right-text" type="text" id="left-pd" size="6" placeholder="31" onblur="validatePD(this);"></td>
                                
                            </tr>
                            <tr>
                                <td>...</td>
                                <th class="right-text" id="head-inter-add-2">Inter Add</th>
                                <th class="right-text" id="head-add-2">Add</th>                               
                                <th class="right-text" id="head-prism-value-2">Prism</th>
                                <th class="right-text" id="head-prism-base-2">Base</th>
                                <th class="right-text" id="head-curve-2" style="display: none;">Curve</th>
                                <th class="right-text" id="head-diameter-2" style="display: none;">Diam</th>
                                <th class="right-text" id="head-brand-2" style="display: none;">Brand</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td id="left-inter-add-container"><input class="cool-field right-text" type="text" id="left-inter-add" size="6" placeholder="+0.00" onblur="validateAdd(this);"></td>
                                <td id="left-add-container"><input class="cool-field right-text" type="text" id="left-add" size="6" placeholder="+0.00" onblur="validateAdd(this);"></td>
                                <td id="left-prism-value-container"><input class="cool-field right-text" type="text" id="left-prism-value" size="6" placeholder="" onblur="validatePrismValue(this);"></td>
                                <td id="left-prism-base-container">
                                    <select class="cool-field" name="left-prism-base" id="left-prism-base">
                                        <option value="none">--</option>
                                        <option value="up">Up</option>
                                        <option value="down">Down</option>
                                        <option value="in">In</option>
                                        <option value="out">Out</option>
                                    </select>
                                </td>
                                <td id="left-curve-container" style="display: none;"><input class="cool-field right-text" type="text" id="left-curve" size="6" placeholder=""></td>
                                <td id="left-diameter-container" style="display: none;"><input class="cool-field right-text" type="text" id="left-diameter" size="6" placeholder="" ></td>
                                <td id="left-brand-container" style="display: none;"><input class="cool-field right-text" type="text" id="left-brand" size="15" placeholder=""></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="section row">
                <div class="section-text col-right row">
                    <button id="send" onclick="savePrescription();">
                        Save Prescription
                    </button>
                </div>

                <div class="section-text col-right row">
                    <span id="send-result" class="emph"></span>
                </div>
            </div>

            <div class="section row">
                <h2 class="col">Privacy Notice</h2>
                <div class="section-text col-right">
                    <div id="message-section" class="extra-top-margin">
                        This is for demonstration purposes only. <br><br>While we take steps to protect your privacy using NIP-17 encrypted DMs, we cannot guarantee that your health information is protected according to HIPAA standards. By using this site, you acknowledge and accept that your data may not be safeguarded in compliance with applicable healthcare privacy laws.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    
    setDarkMode();   
    </script>


{% endblock %}

{% block scripts %}
{{ super() }}
        
        
{% endblock %}
