{% extends "uxbase.html" %}

{% block title %}Consult{% endblock %}
{% block head %}
{{ super() }}



<script>

  const jsonUserData = {{ user_records | tojson }};
  const record_kind = parseInt("{{ record_kind }}");
  //There are two ways to receive client nauth 1) from scan, 2) from websockets
  var client_nauth = "{{client_nauth}}";
  

  

</script>

<script>

var global_naddr = "";
var global_transmit_nauth = "None";

async function backToProfile() {


window.location.href="/safebox/access" ;

}

async function scanCode() {
// alert("scan!");

window.location.href="/scanner/scan?referer=health-consult";

}

async function addEyePrescription() {
// alert("scan!");

window.location.href="/prescriptions/eye";

}

async function getQRStatus(return_result) {

var qr_img_func = document.getElementById("img_qr_display");

parsedResult = JSON.parse(JSON.stringify(return_result));


 global_nauth = parsedResult.detail;

qr_img_func.src = "/safebox/qr/"+ global_nauth;
// qr_img_func.addEventListener("click", copytoClipboard);



}

async function createQRCode() {
    
    var data;
    var qr_img_func = document.getElementById("img_qr_display");

    qr_img_func.src="/img/circle-256.gif";    

    await fetch('/safebox/nauth', {
      method: "GET",
      headers: {"Content-Type": "application/json"}        
           
      })
 .then((response) => response.json())
 .then((data) => getQRStatus(data));

 const ws = new WebSocket(`wss://{{request.url.hostname}}/safebox/wsrequesttransmittal/${global_nauth}`);

   

    ws.onopen = () => console.log("WebSocket connected");
    ws.onmessage = (event) => {
  console.log("Message received:", event.data);
  const response = JSON.parse(event.data);  
  global_transmit_nauth = response.nauth;
  client_name = response.name;
  client_transmittal_kind = response.transmittal_kind;
  client_transmittal_relays = response.transmittal_relays;
// client_name = response.name;
  alert(`Client is authenticated! ${global_transmit_nauth} ${client_transmittal_kind} Ready to transmit files via ${client_transmittal_relays}`); 
  ws.close()
  };
  ws.onclose = () => console.log("WebSocket closed");
  



}


</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>Health Consultation</h1>
    <button id="ln_scan_button" onclick="scanCode()">Authenticate QR Code</button>
    <br><br>
    <button onclick="addCardtoSafebox()">Consult</button>
    <br><br>
    <button onclick="addEyePrescription()">Eye Prescription</button>

   
    
</div>

<div id="card-container"></div>

<script>

  function renderJSONObject(data) {
    // render json object
    // return "json object";
    let content = document.createElement('div');
    content.className = 'json-content';
    // Loop through the JSON object and display key-value pairs
        for (let key in data) {
            if (key !== 'title') {
                let row = document.createElement('p');
                row.innerHTML = `<strong>${key}:</strong> ${data[key]}`;
                content.appendChild(row);
            }
        }
    return content;

  }


  // Function to create and add a card
  function addCard(title, created_at, content) {
    // Create a card element
    const card = document.createElement('div');
    card.className = 'card';

    // Create and add the title element
    const cardTitle = document.createElement('div');
    cardTitle.className = 'card-title';
    cardTitle.textContent = title;

    // Create and add the created_at element
    const cardCreatedAt = document.createElement('div');
    cardCreatedAt.className = 'card-content';
    cardCreatedAt.textContent = `${created_at}`;

    // Create and add the content element
    const cardContent = document.createElement('div');
    cardContent.className = 'card-content';
    cardContent.textContent = content;
   
    card.appendChild(cardTitle);
    card.appendChild(cardCreatedAt);


    // figure out what to do with the card conte

    // Append title and content to the card

    try {

        if (typeof cardContent == 'object' ) {
        console.log(cardContent);



        } else {
          console.log("string");
        }




      } catch (error) {
        console.error("Invalid JSON:", error.message);
    }


    card.appendChild(cardContent);

    

    card.addEventListener('click', () => {
        // alert(`You clicked on: ${title} with: ${content}`);
        window.location.href=`/safebox/displaycard?card=${title}&action_mode=edit&kind={{record_kind}}`;
      });

    // Append the card to the container
    const container = document.getElementById('card-container');
    container.appendChild(card);
  }

  // Example usage
  // alert("hello"+ JSON.stringify(jsonUserData)); 
  var render_payload = "";
  for (let record of jsonUserData)
  {
    if (record.hasOwnProperty("tag")) {
        console.log(`Name: ${record.tag} ${typeof record.payload}`);
        // check to see if payload is json
       

        addCard(record.tag, record.created_at,record.payload);


    } else {
        console.log("This record does not have a 'name' property.");
    }
    // addCard('Private Data 1', JSON.stringify(record));

  }

async function addCardtoSafebox() {
// alert(`add card ${record_kind}`);
window.location.href=`/safebox/displaycard?action_mode=add&kind=${record_kind}`;


}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
alert(`${parsedResult.status} ${parsedResult.detail}`);

 

}

async function transmitToNprofile() {

    
    if (global_transmit_nauth=="None" && client_nauth == "None" ) {
      alert(`Please authenticate the other party!`);
      return;
    }

    if (confirm(`Are you sure you want to send?`)) {
      // alert(`Sending...`);
    } else {return;}
  
    var data;
    if (global_transmit_nauth == "None"){
      
      nauth_to_transmit = client_nauth;

    } else {
      nauth_to_transmit = global_transmit_nauth;
    }
   


  const submit_data = {"nauth": nauth_to_transmit };

   

  await fetch('/safebox/transmit', {
       method: "POST",
       headers: {"Content-Type": "application/json"},        
       body: JSON.stringify(submit_data)         
      })
   .then((response) => response.json())
   .then((data) => getStatus(data));

   // window.location.href=referer;
     }




setDarkMode();


</script>
   

<div class="center-text">
      
  <button onclick="transmitToNprofile()">Transmit Records</button>  
  <br><br>
  <button onclick="backToProfile()">Home</button>
  <br>
 <h2>Client Scan</h2>
    
 <img id="img_qr_display" onclick="createQRCode()"  src="/img/safebox.png" >
<br><br>
{% if client_nauth %}
{{client_nauth[:20] }}...{{ client_nauth[-15:]}} 
{% endif %}    
     
        
</div>
     



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}