{% extends "uxbase.html" %}

{% block title %}My Health Data{% endblock %}
{% block head %}
{{ super() }}



<script>

async function backToProfile() {


window.location.href="/safebox/access" ;

}

</script>

<script>

var global_nprofile = "";


async function copytoClipboard() {


await navigator.clipboard.writeText(global_nprofile);
alert(`Copied health QR code to clipboard!`);

}

async function getStatus(return_result) {

var qr_img_func = document.getElementById("img_qr_display");

parsedResult = JSON.parse(JSON.stringify(return_result));

 global_nprofile = parsedResult.detail;

qr_img_func.src = "/safebox/qr/"+ global_nprofile;
// qr_img_func.addEventListener("click", copytoClipboard);



}

  async function createQRCode() {
    
    var data;
  

   await fetch('/safebox/nprofile', {
        method: "GET",
        headers: {"Content-Type": "application/json"}        
              
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));


}
</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>Health Data </h1>
    <button onclick="backToProfile()">Back</button>
    <br><br>
    <h2>My Health QR Code</h2>

    <img id="img_qr_display" src="/img/logo.png" onclick="copytoClipboard()">
    <br>
</div>

<div id="card-container"></div>

<script>
  const jsonUserData = {{ health_records | tojson }}; 

  // Function to create and add a card
  function addCard(title, content) {
    // Create a card element
    const card = document.createElement('div');
    card.className = 'card';

    // Create and add the title element
    const cardTitle = document.createElement('div');
    cardTitle.className = 'card-title';
    cardTitle.textContent = title;

    // Create and add the content element
    const cardContent = document.createElement('div');
    cardContent.className = 'card-content';
    cardContent.textContent = content;

    // Append title and content to the card
    card.appendChild(cardTitle);
    card.appendChild(cardContent);

    // Append the card to the container
    const container = document.getElementById('card-container');
    container.appendChild(card);
  }

  // Example usage
  // addCard('Health Data Record 1', 'This is the content of the first health record.');
  //addCard('Healt Data Record 2', 'This is the content of the second health record.');

  for (let record of jsonUserData)
  {
    if (record.hasOwnProperty("tag")) {
        console.log(`Name: ${record.name}`);
        addCard(record.tag, record.payload);
    } else {
        console.log("This record does not have a 'name' property.");
    }
    // addCard('Private Data 1', JSON.stringify(record));

  }
</script>
<br>

<div class="center-text">
    
 

    <button onclick="backToProfile()">Home</button>

     
        
</div>
     

<script>
  setDarkMode();
  createQRCode();
</script>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}