{% extends "uxbase.html" %}

{% block title %}My Cards{% endblock %}
{% block head %}
{{ super() }}

<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>

<script>

async function backToProfile() {


window.location.href="/safebox/access" ;

}



</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h4>Personal Cards</h4>
    
    
</div>

<div id="card-container"></div>

<script>
  const jsonUserData = {{ user_records | tojson }};
  

  // Function to create and add a card
  function addCard(title, content) {
    // Create a card element
    const card = document.createElement('div');
    card.className = 'card';

    // Create and add the title element
    const cardTitle = document.createElement('div');
    cardTitle.className = 'card-title';
    cardTitle.textContent = title;

    // Create and add the content element
    const cardContent = document.createElement('div');
    cardContent.className = 'card-content';
    cardContent.textContent = content;

    // Append title and content to the card
    card.appendChild(cardTitle);
    card.appendChild(cardContent);

    card.addEventListener('click', () => {
        // alert(`You clicked on: ${title} with: ${content}`);
        window.location.href=`/safebox/displaycard?card=${title}&action_mode=edit`;
      });

    // Append the card to the container
    const container = document.getElementById('card-container');
    container.appendChild(card);
  }

  // Example usage
  // alert("hello"+ JSON.stringify(jsonUserData)); 
  for (let record of jsonUserData)
  {
    if (record.hasOwnProperty("tag")) {
        console.log(`Name: ${record.name}`);
        addCard(record.tag, record.payload);
    } else {
        console.log("This record does not have a 'name' property.");
    }
    // addCard('Private Data 1', JSON.stringify(record));

  }

async function addCardtoSafebox() {
// alert("add card!");
window.location.href=`/safebox/displaycard?action_mode=add`;


}

setDarkMode();

</script>
   

<div class="center-text">
    

        
        
        
  <button onclick="addCardtoSafebox()">Add Card</button>
  <br><br>  
  <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
  <br><br>
  <button onclick="backToProfile()">Back to Safebox</button>
      
 

        
     
        
</div>
     



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}