{% extends "uxbase.html" %}

{% block title %}{{user_name}} {% endblock %}
{% block head %}
{{ super() }}

    <meta name="twitter:image" content="/img/{{user_name}}">
    <meta property="og:image" content="/img/{{user_name}}" />


<script>



function checkBalance(balance) {

    alert(JSON.stringify(balance));
}




setInterval(pollPayment, 10000);

function pollPayment() {
  var data; 
    
    
    fetch('/safebox/poll')
        .then((response) => response.json())
        .then((data) => checkBalance(data['balance']));
    
    // alert("hello");

}
 
</script>



{% endblock %}

{% block page_content %}



<div class="center-text">
    <h2>Pay {{lightning_address}}</h2> 
    <p id="invoice_status">Scan Lightning Address!</p>
    <img id="ln_invoice_img" onclick="copytoClipboard()" width="256"  src="/safebox/qr/{{lightning_address}}">
    <br>
    <a href="/"><img id="user_profile_img" width="256"  src="https://robohash.org/{{user_name}}"></a>
    <p id="invoice_lightning">Create a Lightning Invoice!</p>
    Amount: <input type="number"  min="0" id="ln_invoice_amount" name="ln_invoice_amount"  value="{{amount}}" size="8">
    <br><br>
    <button id="ln_invoice_button" onclick="createLNInvoice()">Create Lightning Invoice </button>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}