{% extends "uxbase.html" %}

{% block title %}Recover{% endblock %}
{% block head %}
{{ super() }}



<script>

async function backToProfile() {

window.location.href="/safebox/access" ;

}

async function getStatus(return_result) {


parsedResult = JSON.parse(JSON.stringify(return_result));
// alert(`${parsedResult.status} ${parsedResult.detail} ${parsedResult.access_key}`);


  await fetch(`/safebox/loginwithkey?access_key=${parsedResult.access_key}`, {
        method: "POST",
        headers: {"Content-Type": "application/json"}        
                
       })
    .then((response) => {})
    .then((data) => {});
    window.location.href="/safebox/access";




 

}



async function recoverSeedPhrase() {
    
    var data;
   
    var input_seed_phrase = document.getElementById("input_seed_phrase");
    var input_home_relay = document.getElementById("input_home_relay");
    var input_new_identity = document.getElementById("input_new_identity");
    var input_legacy = document.getElementById("input_legacy");

    seed_phrase = input_seed_phrase.value;
    user_confirm = confirm(`Are you sure you want to recover your safebox?`);
    if (user_confirm == false) {return;}
    

    const submit_data =   { "seed_phrase": seed_phrase, 
                            "home_relay": input_home_relay.value, 
                            "new_identity": input_new_identity.checked,
                            "legacy": input_legacy.checked
                          };

   await fetch('/recoversafebox', {
        method: "POST",
        headers: {"Content-Type": "application/json"},        
        body: JSON.stringify(submit_data)         
       })
    .then((response) => response.json())
    .then((data) => getStatus(data));


      }
</script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    <h1>Recover your Safebox</h1>

    Recover
      <br><br>
      <textarea id="input_seed_phrase" style="width:80%;" placeholder= "enter recovery phrase" name="txt_comment" rows="3" cols="24"></textarea>
      <br><br><input type="text" placeholder="enter home relay" id="input_home_relay"   value="" style="width:80%;">
       <br><br>
       <label>
        <input type="checkbox" id="input_new_identity" >
        New Identity
      </label>
             <label>
        <input type="checkbox" id="input_legacy" >
        Legacy
      </label>
      <br><br>
       <button onclick="recoverSeedPhrase()">Recover Safebox</button>
       <br><br>
    
</div>


   

<div class="center-text">
  <hr>
    

        
        
        

    <button onclick="backToProfile()">Home</button>
      
 

        
     
        
</div>
     
<script>
  setDarkMode();
</script>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}