{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}


<script>

const local_timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
// alert(local_timeZone);



      
  


async function backToWallet() {


window.location.href="/wallet/";

}

async function gotoHome() {


window.location.href="/";

}





</script>

{% endblock %}

{% block page_content %}

      
<div class="center-text"> 

  <h1>Account History</h1>
  <button onclick="backToHome()">Home</button>
  <hr>
  <br><br>
      <table width="90%">
        <tr>
          <th align="center" >Date</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Unit</th>
          <th align="left">Details</th>          
        </tr>
        {% for entry in tx_history %}
        <tr>
          <td>{{ entry['create_time']}}</td>
          <td>{{ entry['tx_type']}}</td>
          <td align="right" valign="top">{{entry['tendered_amount']}}</td>
          <td>{{entry['tendered_currency']}}</td>
          <td align="left" valign="top">{{entry['comment']}}</td>

        </tr>
        {% endfor %}
      </table>

</div>     
    
    
<script>
    
  setDarkMode();   
</script>
      
  



      {% endblock %}

      {% block scripts %}
      {{ super() }}
              
              
      {% endblock %}