{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}

<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    
        <h1>{{ message }}</h1>
        
        <p class="lead">Coming soon!!!</p>
        <p >Safebox is the next generation sovereign technlogy being developed to power <a href="https://openbalance.app">Openbalance.app</a> 
       
        
        <p>Follow the latest blog entries <a href="https://tim-bouma.npub.pro/tag/safebox/">here</a>
         

        </p>
        <form action="/onboard/website" method="GET">
            <label for="invite_code">Invite Code:</label><br>
            <input type="text" id="invite_code" name="invite_code" placeholder="Enter invite code" >
            <br><br>    
            <button >Get a Safebox</button>
        </form>
        <br>
        <form action="/safebox/login" method="POST">
            <label for="access_key">Access Key</label><br>
            <input type="text" id="access_key" name="access_key" placeholder="Enter Access Key" >
            <br><br>    
            <button type="submit">Login to Safebox</button>
        </form>
        <hr>
        <p><a href="https://github.com/trbouma">GitHub Repo</a></p> 
        
    </div>
     



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}