{% extends "uxbase.html" %}

{% block title %}Safebox{% endblock %}
{% block head %}
{{ super() }}

<script src="https://kit.fontawesome.com/19aae69877.js" crossorigin="anonymous"></script>

{% endblock %}

{% block page_content %}



<div class="center-text">
    
        <h1>{{ branding }}</h1>
        
        <i><p class="lead">{{branding_message}}</p></i>
               
            <form action="/safebox/login" method="POST">
                <label for="access_key">Access Key:</label><br>
                <input type="text" id="access_key" name="access_key" type="password" placeholder="Enter access key" style="width: auto;">
                <br><br>    
                <button type="submit">Login</button>
            </form>
        </p>
            <form action="/onboard/website" method="POST">
                <label for="invite_code">Invite Code:</label><br>
                <input type="text" id="invite_code" name="invite_code" style="width: auto;" placeholder="Enter invite code" >
                <br><br>    
                <button >Get SafeBox</button>
            </form>
        <br>
            <hr>
            <p>Follow the latest blog entries <a href="https://tim-bouma.npub.pro/tag/safebox/">here</a>
            <p><a href="https://github.com/trbouma">Verify the Code</a></p> 
            <p><i>This is <a href="https://tim-bouma.npub.pro/tag/nostr/">#nostr</a> <a href="https://tim-bouma.npub.pro/tag/safebox/">#safebox</a></i></p>
             


        
    </div>
     



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}